<h1> WeathrScraping</h1>
<br>
<div>スタート日<%=@start_date%></div>
<div>終了日(本日)<%=@today%></div>
<div></div>

<div><%=@td_length%>aaaaa</div>

<div><%=@temps%></div>
<div>データは<%=@temps.length%>日分</div>
<div>データは<%=@term+1%>日分</div>
<h1>積算気温<%=@total_temp%>℃</h1>
