<h1> WeathrScraping</h1>
<br>
<div>スタート日<%=@start_date%></div>
<div>終了日(昨日)<%=@y_date%></div>
<div></div>

<div><%=@term_month%>ヶ月</div>

<div><%=@ave_temps%></div>
<div>データは<%=@term+1%>日分</div>
<h1>積算気温<%=@total_temp.floor(1).to_f%>℃</h1>
